<h2>Sign up</h2>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :class=>'login_box' %></div>
  
  <div><%= f.label :username %><br />
  <%= f.text_field :username, :class=>'login_box' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :class=>'login_box' %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, :class=>'login_box' %></div>

  <div><%= f.submit "Sign up", :class=>'button' %></div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>
