<div id="profile_nav">
<% if user_signed_in? %>
  <%= image_tag current_user.avatar_url(:thumb), :class => "header_avatar" if current_user.avatar.present? %> 
  <ul class="sf-menu">
	  <li class="current">
				  <span class="header_nav">
				  Hello, <%= current_user.username %>
          </span>
				<ul>
					<li>
            <%= link_to('Edit profile', edit_user_registration_path) %>
					</li>
					<li class="current">
 					  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
					</li>
				</ul>
			</li>
  </ul>
<% else %>
  <div id="top_nav_sign_in">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email %> <%= f.text_field :email, :size=>20, :class=>'top_nav_login_box' %> 
      <%= f.label :password %> <%= f.password_field :password, :size=>20, :class=>'top_nav_login_box' %>
      <%= f.submit "Sign in", :class=>'button' %>
    </div>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %> &middot; 
        <%= link_to "Forgot password?", new_password_path(resource_name) %>
    </div>
    <% end %>
  </div>
<% end %>
</div>
<%= javascript_tag "$(document).ready(function() {$('ul.sf-menu').superfish({delay:100});});" %>
